* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --cor-de-fundo: #353941;
  --cor-primaria: #c4d7f7;
  --cor-secundaria: #5f85db;
  --cor-terciaria: #26282b;
}

body {
  background-image: url(../tecnologia-com-fundo-azul-escuro-vetor.jpg);
  background-color: var(--cor-de-fundo);
  font-family: "Roboto", sans-serif;
  color: var(--cor-primaria);
}

.cabecalho {
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  text-shadow: 0 0 10px #0000ff, 0 0 20px #0000ff, 0 0 30px #0000ff,
    0 0 40px #0000ff, 0 0 50px #0000ff, 0 0 60px #0000ff, 0 0 70px #0000ff; /* Adiciona várias camadas de sombra */
}

.descricao__cabecalho {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.formulario__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}

label {
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

input {
  margin-bottom: 20px;
  width: 100%;
}

#formulario {
  font-weight: bold;
}

.botao__formulario {
  padding: 10px;
  height: 40px;
  border-radius: 10px;
  font-weight: bold;
  color: var(--cor-terciaria);
  border: solid 1px var(--cor-terciaria);
  background-color: var(--cor-primaria);
  align-self: flex-start;
}

.botao__formulario:hover {
  background-color: transparent;
  border: solid 1px var(--cor-primaria);
  color: var(--cor-primaria);
}

.botao__formulario:active {
  background-color: var(--cor-primaria);
  border: solid 1px var(--cor-terciaria);
  color: var(--cor-terciaria);
}

#formulario input {
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px var(--cor-terciaria);
  font-size: 1rem;
  font-weight: bold;
}

.container__resultado {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  margin: 20px auto 20px auto;
  background-color: #fff;
  border: solid 3px var(--cor-secundaria);
  padding: 20px;
  border-radius: 10px;
}

.titulo__resultado {
  color: var(--cor-terciaria);
  display: flex;
  margin: 0 auto 20px auto;
}

#resultado {
  color: var(--cor-terciaria);
  font-size: 1.2rem;
}

#resultado p {
  padding: 10px;
}

#resultado p strong {
  color: red;
}
